<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoGirls</title>
</head>
<body>
    <div>
        <h1><a href="/"> SAHAGUN & PIVIJAY</a></h1>
    </div>
        
    <div> 
        <p><strong>En duda cual es mejor que el otro...</strong></p>
    </div>

    <div>
        <h2><a href="">Mi primer post</a></h2>
        <p>Publicado 15.11.2024, 17:17</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ea velit quis soluta minus id? Quod impedit molestias adipisci ducimus, officia dolores consectetur quas sed similique incidunt enim dicta possimus!</p>
    </div>

    <div>
        <h2><a href="">Todo funcionando</a></h2>
        <p>Eeee!!</p>
        <p>Funciona!</p>
    </div>
</body>
</html>